.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.items-center {
  align-items: cetner;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 40px;
}
