.change-viewer-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .change-viewer-wrapper {
    position: relative;
    padding: 0 30px;
    overflow-y: auto;

    .change-viewer-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 36px;
      font-size: 14px;
      font-weight: 600;
      & > i {
        cursor: pointer;
      }
    }
    .change-viewer-content {
      padding: 1px 0;
    }

    & ~ .change-viewer-footer {
      position: relative;
      z-index: 1;
      width: 100%;
      border-top: 1px solid #979797;
      padding: 0 30px;
      box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.05);
      display: none;
      height: 0;
      &.visible {
        display: block;
        height: auto;
      }
    }
  }
}
.ms-Panel-content > .change-viewer-layer {
  top: 20px !important;
  .change-viewer-wrapper {
    padding: 0 20px;
  }
}
