/* responsive */
$breakpoint__mobile: 640px;
$breakpoint__tablet: 768px;
$breakpoint__desktop: 1024px;
$breakpoint__xlg: 1280px;
/* responsive */

$font__regular: 400;
$font__semibold: 600;
$font__bold: 700;

$dark__active__bg: #2b2d34;
$active__color: rgb(82, 153, 243);
$line__color: #97979759;
